html {
    margin-block-start: 0;
    margin-block-end: 0;
    --main-color: DarkRed;
    --text-color: BlanchedAlmond;
  }
  
  body {
    font-family: 'Jim Nightshade', cursive;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--text-color);
  }
  
  #dice-picker {
    box-sizing: border-box;
    height: 600px;
    margin: auto 2em;
    border: 5px solid black;
    border-radius: 1em;
    min-width: 200px;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: 49% 49% ;
    gap: 2%;
    place-items: center;
    background-color: var(--main-color);
  }
  
  #dice-picker h1 {
    grid-area: 1 / 1 / 2 / 3;
    color: var(--text-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  #dice-picker input[type="number"], #dice-picker label {
    height: 50px;
    width: 50px;
  }
  
  #d4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  #roll-btn {
    grid-area: 9 / 1 / 10 / 3;
    margin: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Jim Nightshade', cursive;
    font-size: 24px;
  }
  
  #dice-border {
    background-color: black;
    width: 520px;
    height: 600px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  #dice-tray {
    margin: 5px;
    background-color: var(--main-color);
    width: 510px;
    height: 590px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  #dice-container {
    transform: translateY(50%);
    width: 100%;
    height: 50%;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;    
  }

  .rolled-die {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .rolled-die div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .rolled-die p {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 36px;
    overflow: hidden;
  }

  .clip-path-d4{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: red;
  }

  .clip-path-d6{
    background-color: orange;
  }

  .clip-path-d8{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: yellow;
  }

  .clip-path-d10{
    clip-path: polygon(50% 10%, 100% 50%, 50% 90%, 0% 50%);
    background-color: green;
  }

  .clip-path-d12{
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    background-color: blue;
  }

  .clip-path-d20{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: purple;
  }
  
  #roll-history-title {
    display: flex;
    border: solid black 2px;
    align-items: center;
  }

  @media screen and (min-width: 600px) {
    body {
      grid-template-columns: auto 1fr auto;
    } 
  }